<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Six+Caps&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/splash.css">
    <title>Welcome to Melty</title>
</head>
<div class="header">
    <h1>Melty</h1>
    <h2>The plant-based cheese site</h2>
</div>
<main>
    <body class="container">
        <nav>
            <a href="/brands"></a>
         </nav>

            <div class="container">
                <!-- <img class="veggies" src="https://zipclinic.com/wp-content/uploads/2019/12/plant.jpg" alt="veggies"> -->
                <p class="message"><a href="/brands">Happiness</a></p>
                <p class="message"><a href="/brands">is</a></p>
                <p class="message"><a href="/brands">cheese</a></p>
            </div>         
        

        <footer>
            <a href="https://youtu.be/dQw4w9WgXcQ?t=43">
                <img class="footer-image" src="https://chaminade.edu/wp-content/uploads/2019/08/Instagram-Icon-color.png" alt="instagram">
            </a>
            
            <a href="https://youtu.be/dQw4w9WgXcQ?t=43">
                <img class="footer-image" src="https://louisville.edu/philosophy/images/icons-for-footer/twittericon2.png/image" alt="twitter">
            </a>
            
            <a href="https://youtu.be/dQw4w9WgXcQ?t=43">
                <img class="footer-image" src="https://seeklogo.com/images/F/facebook-icon-logo-C61047A9E7-seeklogo.com.png" alt="facebook">
            </a>
        </footer>
        
    </body>
</main>
</html>