/* * { border: 1px solid red; } */

body {
    padding: 10px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: center;
    background-image: url(https://data.1freewallpapers.com/download/branch-leaves-minimalism-green-plant.jpg)
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}

.nav-buttons {
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.nav-buttons { 
    color: rgba(43,43,43,1); 
    text-decoration: none; 
    padding: 10px; 
    border-bottom: 2px solid rgba(43,43,43,1); 
}

.nav-buttons:hover { 
    background: rgba(43,43,43,1); 
    color: rgba(255,255,255,1); 
}

h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}

form {
    margin-left: 33%;
    margin-right:33%;
    width: 33%;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
}
.checkbox {
    position:absolute;
    left: 32%;
  }

div {
    margin: 10px 10px;
}

input{
    width: 300px;
}


.review-input {
    height: 200px;
    overflow-wrap: break-word;
}

button {
    margin-left: 33%;
    margin-right:33%;
    width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',;
    
}