<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BRANDS</title>
</head>
<body>
    <h1>BRANDS</h1>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/brands/new">Create a new Brand</a>
            </li>
        </ul>
    </nav>

        <H2>LIST OF BRANDS</H2>
        <%= brandsArray %>
        
        

</body>
</html>