<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a BRAND</title>
</head>
<body>
    <h1>Add a BRAND</h1>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/brands">Brands</a>
            </li>
        </ul>
    </nav>
        <div>
            <form action="/brands" method="POST">
                <label for="brand-name">Brand Name:
                    <input type="text" name="brandName">
                </label>
            </div>
            <div>
                <label for="">Region:
                    <input type="text" name="region"/>
                </label>
            </div>
            <div>
                <label for="">Main Ingredient:
                    <input type="text" name="ingredient"/>
                </label>
            </div>
            <div>
                <label for="">Contains Nuts:
                    <input type="checkbox" name="nuts"/>
                </label>
            </div>
            <div>
                <label for="">Reviews:
                    <input type="text" name="review"/>
                </label>
            </div>
            <button type="submit">Submit</button>
        </form>
</body>
</html>