<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a BRAND</title>
</head>
<body>
    <h1>Add a BRAND</h1>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/brands">Brands</a>
            </li>
        </ul>
    </nav>

        <form action="/brands" method="POST">
            <label for="brand-name">Brand Name:</label>
            <input type="text" name="brandName" id="brand-name">

            <button type="submit">Submit</button>
        </form>

</body>
</html>