<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/brands-index.css">
    <title>BRANDS</title>
</head>
<header>
    <h1>Melty Brands</h1>
</header>

<body>
    <nav class="nav-container">
        <a class="nav-buttons" href="/">Home</a>
        <a class="nav-buttons" href="/brands/new">Add a brand..</a>
    </nav>




    <div class="image-placeholder">
        <% for ( let i = 0; i < brandsArray.length; i++) { %>
            <a class="brand-label" href="/brands/<%= brandsArray[i]._id %>">
                <img class="index-image" src="<%= brandsArray[i].imageUrl %>" alt="">
            </a>
            <p class="brand-label"> <%= brandsArray[i].brandName %> </p>
        <% } %>   
        
        <a href="/brands-html/daiya.html">
            <img class="index-image" src="https://images.squarespace-cdn.com/content/v1/5421c197e4b02b592c4187be/1415059444323-RDNXMENS96UVOZ1YP4CV/ke17ZwdGBToddI8pDm48kF4qclIQmZ-nS6pLhDe-C157gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UUxnGy_2OAZHzG14_viu9PCIEX6MogcFDbSFh4SMwIeYrd1JHiFL1JALDNVUjbDaNQ/DAIYA-BRAND-LOGO.jpg?format=1500w" alt="">
        </a>
        <p class="brand-label">Daiya</p>
        
        <a href="/brands-html/miyokos.html">
            <img class="index-image" src="https://vegworldmag.com/wp-content/uploads/2020/02/Miyokos.png" alt="">
        </a>
        <p class="brand-label">Miyoko's</p>

        <a href="/brands-html/violife.html">
            <img class="index-image" src="https://veganuary.com/wp-content/uploads/2017/07/19702269_1353805901351228_8246131321778526174_n.png" alt="">
        </a>
        <p class="brand-label">Violife</p>

        <a href="/brands-html/chao.html">
            <img class="index-image" src="https://mlfoodservice.com/wp-content/uploads/Chao-Combo-Logo-01.png" alt="">
        </a>
        <p class="brand-label">Chao</p>

        <a href="/brands-html/follow-your-heart.html">
            <img class="index-image" src="https://www.proteinreport.org/sites/default/files/2020-01/follow-your-heart_logo.png" alt="">
        </a>
        <p class="brand-label">Follow Your Heart</p>

        
        
    </div>

    <footer>
        <a href="https://youtu.be/dQw4w9WgXcQ?t=43">
            <img class="footer-image" src="https://chaminade.edu/wp-content/uploads/2019/08/Instagram-Icon-color.png" alt="instagram">
        </a>

        <a href="https://youtu.be/dQw4w9WgXcQ?t=43">
            <img class="footer-image" src="https://louisville.edu/philosophy/images/icons-for-footer/twittericon2.png/image" alt="twitter">
        </a>

        <a href="https://youtu.be/dQw4w9WgXcQ?t=43">
            <img class="footer-image" src="https://seeklogo.com/images/F/facebook-icon-logo-C61047A9E7-seeklogo.com.png" alt="facebook">
        </a>
    </footer>
</body>
</html>