<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/brands-new.css">
    <title>Add a BRAND</title>
</head>
<body>
<nav class="nav-container">
    <a class="nav-buttons" href="/">Home</a>
    <a class="nav-buttons" href="/brands">Brands</a>
</nav>

    <h1>Add a brand</h1>

        <!-- <div class="field-background"> -->
            <form class="field-background" action="/brands" method="POST">
                <div>
                    <label for="brand-name">Brand Name:
                        <input type="text" name="brandName">
                    </label>
                </div>
                <div>
                    <label for="">Region:
                        <input type="text" name="region"/>
                    </label>
                </div>
                <div>
                    <label for="">Main Ingredient:
                        <input type="text" name="ingredient"/>
                    </label>
                </div>
                <div>
                    <label for="">Contains Nuts:
                        <input class="checkbox" type="checkbox" name="nuts"/>
                    </label>
                </div>
                <div>
                    <label class="review-label" for="">Review:
                        <input class="review-input" type="text" name="review"/>
                    </label>
                </div>
                <div>
                    <label for="">Image URL:
                        <input type="text" name="imageUrl"/>
                    </label>
                </div>
                <button class="big-button" type="submit">Submit</button>
            </form>
        <!-- </div> -->
    </div>
</body>
</html>